<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="bg-white p-6 rounded w-96 shadow-md">
      <h2 class="text-2xl font-bold mb-4 text-center">Login</h2>
      <form id="loginForm">
        <input
          type="email"
          class="w-full mb-3 p-2 border rounded"
          id="email"
          placeholder="Email"
        />
        <input
          type="password"
          id="password"
          class="w-full mb-3 p-2 border rounded"
          placeholder="****"
        />
        <button
          type="submit"
          class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition mb-3"
        >
          Login
        </button>
      </form>
      <p class="mt-4 text-sm text-center">
        Don't have an account?<a href="/register" class="ml-2 text-blue-500"
          >Register</a
        >
      </p>
    </div>
  </body>
  <script>
    document
      .getElementById("loginForm")
      .addEventListener("submit", async (e) => {
        e.preventDefault();
        const form = new FormData(e.target);
        const res = await fetch("/login", {
          method: "POST",
          body: JSON.stringify(Object.entries(form)),
          headers: {
            "Content-Type": "application/json",
          },
        });

        const data = await res.json();
        console.log(data);
        if (data.message === "Login successful") {
          window.location.href = "/home";
        } else {
          alert(data.message);
        }
      });
  </script>
</html>
