<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register page</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">
  <div class="bg-white p-6 rounded w-96 shadow-md">
    <h2 class="text-2xl font-bold mb-4 text-center">Register</h2>
    <form id="registerForm">
      <input type="text" id="username" class="w-full mb-3 p-2 border rounded" placeholder="Username">
      <input type="email" class="w-full mb-3 p-2 border rounded" id="email" placeholder="Email">
      <input type="password" id="password" class="w-full mb-3 p-2 border rounded" placeholder="****">
      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition mb-3">Register</button>
    </form>
    <p class="mt-4 text-sm text-center">Already have an Account?<a href="/login" class="ml-2 text-blue-500">Login</a> </p>
  </div>
</body>
<script>
  document.getElementById('registerForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const form = new FormData(e.target);
    const res = await fetch('/register', {
      method: 'POST',
      body: JSON.stringify(Object.entries(form)),
      headers: {
        'Content-Type': 'application/json'
      }
    });

    const data = await res.json();
    alert(data.message);
  })
</script>
</html>