@tailwind base;
@tailwind components;
@tailwind utilities;

.typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #fa7272;
  width: 0;
  animation: typing 15s steps(25, end) infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.heading::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #6366f1;
  top: -10px;
  left: 0;
}
