body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.loader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loader span {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  animation: bounce 0.5s linear infinite;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.2s;
  background-color: green;
}
.loader span:nth-child(3) {
  animation-delay: 0.4s;
  background-color: blue;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}