body {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #fa7272;
  width: 0;
  animation: typing 4s steps(25, end) infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
