/* .box-1 {
  width: 300px;
  height: 300px;
  background-color: red;
}

.img-1 {
  position: absolute;
  z-index: 1;
}

.img-2 {
  position: sticky;
  z-index: 2;
  top: 0px;
} */

img {
  border-radius: 50% 50% 82% 18% / 35% 68% 32% 65%;
  animation: bounce 3s linear infinite;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box-1 {
  width: 100px;
  height: 100px;
  background-color: red;
  transform: translate3d(15px, 20px, 0);
  transform: matrix(1.5, 1,);
}


@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}