/* 
  dropdown
  cursor
  focus

*/

.btn {
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.content {
  display: none;
  background-color: red;
  padding: 10px;
}
.content a { 
  display: block;
  color: white;
  text-decoration: none;
}

.dropdown:hover .content {
  display: block;
}

button {
  cursor: pointer;
}

input {
  width: 250px;
  height: 20px;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  /* border: none; */
}

input:focus {
  /* background-color: rgb(245, 144, 144); */
  border: 2px solid rgb(180, 16, 16);
}
